:root {
  /*color*/
  --dark: #000000;
  --medium: #322f2f;
  --light: #fff;

  /*font*/

  /*sizes*/
  --gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.grid-container {
  width: 98%;
  margin: 0 auto;
  border: 1px solid var(--dark);
}

main > * {
  margin: calc(var(--gap) * 2) 0;
}
.grid-container {
  display: grid;
  gap: var(--gap);
}

.grid-container > * {
  padding: 50px;
  border: 1px solid var(--medium);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--light);
}

/*============================
768 px
===============================*/
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
/*============================
992 px
===============================*/
@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
  .grid-container.tres {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-container.cuatro {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*============================
1200px
===============================*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
